@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

html,body {
    
    width: 100%;
    
}

body {
    background-image:url('assets/index_background.jpg');
    background-size: cover
}

  
.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10%;
}

.wrapper h1 {
    display: flex;
    justify-content: center;
    font-family: 'Aclonica';
    font-size: 50px;
    letter-spacing: 10px;
    font-weight:700;
    color:white;
}

input {
    width: 550px;
    height: 50px;
}